.login-container{
  width: 40%;
  border: 1px solid #CCC;
  min-height: 30%;
  box-sizing: border-box;
  position: absolute;
  left: 28%;
  top: 33%;
}
.container {
  padding: 35px !important;
  display: flex;
  flex-direction: column;
 
}

.inputfield {
  
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.login-container input{
  width: 95%;

}
.login-container label{
  width: 53%;
  display: block;
}
.login-inner{
  padding: 40px;
}

