.leftBar {
    width: 21%;
    height: 100%;
    float: left;
    /* border: 1px solid black; */
}
.rightBar {
    width: 70%;
    float: left;
    padding: 0;
    margin: 0;
}
.rightInnerWrapper, .leftInnerWrapper{
      padding: 30px;
  }

.questionBtnContainer{
    padding:0 25% 0 0;
    text-align: center;
    margin: 16% 0 0 0;
}

.disable {
    background: #e5e5e5 !important;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  .filterDivider{
    border-right: 1px solid #5d5b5b;
    padding: 0px 7px;
  }
  span.filterDivider:last-child{
    border-right: none;
  }
 